.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container .card {
  width: 50%; /* take up 50% of the container width */
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* add margin to center the card horizontally */
}

/* Add media queries for responsiveness */
@media (max-width: 1200px) {
  .card-container .card {
    width: 45%; /* reduce width for larger screens */
  }
}

@media (max-width: 992px) {
  .card-container .card {
    width: 40%; /* reduce width for medium screens */
  }
}

@media (max-width: 768px) {
  .card-container .card {
    width: 80%; /* take up 80% of the container width on smaller screens */
  }
}

@media (max-width: 480px) {
  .card-container .card {
    height: 350px;
  }
}

@media (max-width: 320px) {
  .card-container .card {
    height: 300px;
  }
}