.CardComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.CardComponent .MuiCard-root {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .CardComponent .MuiCard-root {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .CardComponent .MuiCard-root {
    max-width: 200px;
  }
}